<nlog>
	<targets>
		<target name="xmlFile" type="File" fileName="C:\Users\princedelen\source\repos\Lab_9-WindowsFormsApp1Update\Lab_8-WindowsForms\Logs\${shortdate}.log" >
			<layout type="XmlLayout" includeAllProperties="false" elementName='logevent'>
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<element name="message" value="${message}" />
				<element name="exception_type" value="${exception:format=Type}"/>
			</layout>
		</target>

		<target name="jsonFile" type="File" fileName="C:\Users\princedelen\source\repos\Lab_9-WindowsFormsApp1Update\Lab_8-WindowsForms\Logs\${shortdate}.json" >
			<layout type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception_type" layout="${exception:format=Type}"/>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="xmlFile, jsonFile" />
	</rules>
</nlog>
